<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @note.username %>
</p>

<p>
  <strong>Message:</strong>
  <%= @note.message %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
